@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Hind+Siliguri:wght@300;400;500;600;700&family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-main-content { /* mesmo codigo: .main-content */
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-background-video { /* mesmo codigo: .background-video */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
}

.login-container-content { /* mesmo codigo: .container-content */
    width: 80%;

    display: flex;
    padding: 0px 50px 0px 50px;
}

.login-video-container { /* mesmo codigo: .sign-up-video-container */
    width: 40%;
    height: 260px;

    background-color: red;
}

.login-video { /* mesmo codigo: .sign-up-video */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form-container { /* mesmo codigo: form-container */
    width: 60%;

    position: relative;
    padding-top: 40px;

    background-color: rgba(20, 19, 19, 0.879);
}

.login-form-title-container { /* mesmo codigo: .container-form-title */
    padding: 10px 20px;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: rotateZ(4deg) translateX(-50%);

    border-radius: 3px;

    font-size: 2em;
    font-family: 'Jersey 25';
    letter-spacing: 2px;
    text-transform: uppercase;

    color: white;
    background-color: #135271;
}

.login-form { /* mesmo codigo: .form */
    width: 100%;
    height: 120px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.login-input-container { /* mesmo codigo: .input-container */
    display: flex;
    flex-direction: column;
}

.login-input-title { /* mesmo codigo: .input-title */
    margin-bottom: 3px;

    font-size: 1.4em;
    font-family: 'Freeman';

    color: white;
}

.login-input { /* mesmo codigo: .input */
    width: 300px;
    height: 36px;
    border-radius: 3px;

    padding: 0px 5px;

    font-size: 1.05em;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 1px;

    color: white;
    background-color: #00122A;
}

.container-btn-sign-up { /* mesmo codigo: .container-btn-login */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-btn { /* mesmo codigo: .sign-up-btn */
    width: 300px;
    height: 40px;

    margin-top: 5px;
    margin-bottom: 15px;

    border-radius: 3px;

    font-size: 1.1em;
    font-family: 'Freeman';

    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    background-color: #00122A;
}

.send-btn:hover {
    cursor: pointer;
}

.sign-up-btn { /* mesmo codigo: .login-btn */
    font-size: 1.1em;

    border-bottom: 1px solid white;
    color: white; 
}
